*{
    padding: 0px;
    margin: 0px;
}
#welcomeScreen{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/1053227062935074487/E1A9E790D3B6EBDE32EC4142B1F23C30723A5AE8/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;

}

.container{
    width: 400px;
    height: auto;
    background-color: #22074abc;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}

.container label{
    font-weight: 700;
}

.container input{
    width: 80%;
    height: 40px;
    outline: none;
    padding: 0 1 rem;
    margin: 20px 0px 20px 0px;
    background-color: #eee;
    border:none;
    color: #22074d;
    font-size: 1rem;
    caret-color: #22074d;
    border-radius: 7px;
}

.container button{
    background: linear-gradient(#100241,black);
    padding: 12px 0px ;
    width: 150px;
    background-color: black;
    color: white;
    outline:none ;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s ease;
}

#usernameError{
    color: red;
    padding: 5px;
}
.hide{
    display:none !important;
}

#quizArea{
    width: 100%;
    height: 100vh;
    display: flex;
}

.questionArea{
    width: 75%;
    height:100vh ;
    background-image: url(https://images.news18.com/ibnlive/uploads/2021/08/whatsapp-image-2021-08-24-at-08.55.58-e1629793241775.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#levelArea{
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #22074d;
    color: white;
}

}